*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

#container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

/* svg {
  margin-bottom: 100px;
} */

.yAxis > .tick > text {
  font-size: 16px;
}

.xAxis > .tick > text {
  font-size: 14px;
}

.hidden {
  opacity: 0;
}

.fixed {
  opacity: 1.0;
}

.fixed text {
  opacity: 1.0;
}

#metrics {
  padding: 20px 0;
}

#metrics span {
  color: darkgray;
  padding-right: 20px;
  cursor: pointer;
}

#metrics span.chosen {
  text-decoration: underline;
  text-decoration-color: darkgray;
  text-decoration-thickness: 3.5px;
  text-underline-offset: 2px;
  color: black;
}

.form-inline {
  display: inline-block;
}

.district-view {
  padding: 5px 10px;
  margin-right: 10px;
  margin-top: 20px;
  text-transform: uppercase;
  background-color: white;
  color: #1696d2;
  border: 2px solid #1696d2;
  cursor: pointer;
}

.district-view.chosen {
  background-color: #1696d2;
  color: white;
}

.show-districts {
  text-decoration: underline;
  cursor: pointer;
}
