*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

#container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

/* svg {
  margin-bottom: 100px;
} */

.yAxis > .tick > text {
  font-size: 16px;
}

.xAxis > .tick > text {
  font-size: 14px;
}

.hidden {
  opacity: 0;
}

.fixed {
  opacity: 1.0;
}

.fixed text, .fixed .rect {
  opacity: 1.0;
}

#metrics {
  padding: 20px 0;
}

#metrics span {
  color: darkgray;
  padding-right: 20px;
  cursor: pointer;
  font-weight: bold;
}

#metrics span.chosen {
  text-decoration: underline;
  text-decoration-color: #fdbf11;
  text-decoration-thickness: 3.5px;
  text-underline-offset: 2px;
  color: black;
}

#metrics-text {
  padding-bottom: 20px;
}

#forms {
  padding: 15px 0;
  font-weight: bold;
}

#state-div {
  font-weight: bold;
}


.form-inline {
  display: inline-block;
}

#districts-views, #toggle {
  display: inline-block;
  margin-top: 20px;
}

#toggle {
  float: right;
  padding: 5px 10px;
}

#toggle-gap, #toggle-scale {
  display: inline-block;
  padding: 0 10px;
}

.district-view {
  padding: 5px 10px;
  margin-right: 10px;
  text-transform: uppercase;
  background-color: white;
  color: #1696d2;
  border: 2px solid #1696d2;
  cursor: pointer;
}

.district-view.chosen {
  background-color: #1696d2;
  color: white;
}

.show-districts {
  text-decoration: underline;
  font-style: italic;
  cursor: pointer;
}

.state-average .division-name {
  font-weight: bold;
}

/* Toggle */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 26px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(32px);
  -ms-transform: translateX(32px);
  transform: translateX(32px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 26px;
}

.slider.round:before {
  border-radius: 50%;
}

.form-control {
  display: inline;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  border-color: darkgray;
  vertical-align: middle;
  max-height: 2em;
  padding: 0 40px 5px 5px;
  color: darkgray;
  /* padding: 40px; */
  /* margin: 10px; */
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='28' viewBox='0 0 28 28' width='28' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;
  transition: all .4s ease-in-out;
}

.form-control:hover{
  cursor: pointer;
}

#districts-text {
  padding: 20px 0;
  font-style: italic;
}

#chart {
  padding: 60px 0;
}

#chart text {
  font-size: 14px;
}

#search-box {
  padding: 5px 5px 5px 5px;
  border: 1px solid lightgray;
}
::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;
}
::-moz-placeholder {
   font-style: italic;
}
:-ms-input-placeholder {
   font-style: italic;
}
